
/*
    Created on : 2017-05-01, 10:52:59
    Author     : Logos
*/

*:focus {
    outline: none;
}

* {font-family: 'Lato', sans-serif;font-weight: 400;  }

body                                { background-color: #53ca33 }
.login-bg                           { background-image: url(/img/login-bg.png);  background-repeat: no-repeat; background-size:cover  }

.head-un-log {
    position: relative;
    min-height: 100vh;
}

#logo {
    padding: 50px 0 30px 0;
}
#logo img                           { width: 154px; display:block; margin: 0 auto; }

.login-input {
    padding: 15px 15px;
    font-size: 18px;
    color: #fff;
    background: rgba(83,202,51,0.7);
    border: 1px solid rgba(255, 255, 255, .7);
    font-weight: 700;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
}

.login-input:focus {
    background: rgba(83, 202, 51, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: none;
}

.login-button                       { width: 100%; background-color:#fff; color: #009c3f; border-color: #fff; text-transform: uppercase;
                                     height: 50px; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 18px; margin-bottom: 10px}

.login-button:hover                 { background-color:#009c3f; border-color: #009c3f; }

.login-button:focus,
.login-button:active,
.login-button:focus:active          {  background-color:#fff; color: #009c3f; border-color: #fff; }

.signup-btn                       { width: 100%; background-color:#fff; color: #009c3f; border-color: #fff; text-transform: uppercase;
    height: 50px; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 18px; margin-bottom: 115px; padding: 13px 0 0 0;}

.signup-btn:hover                 { background-color:#009c3f; border-color: #009c3f; }

.signup-btn:focus,
.signup-btn:active,
.signup-btn:focus:active          {  background-color:#fff; color: #009c3f; border-color: #fff; }

.signup-text {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}


.footer.forget {
    background-color: rgba(0,156,63, 0.6);
    min-height: 68px;
    font-size: 16px;
    color: #fff;
    padding-top: 17px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer.forget span                 { margin-right: 10px;}

.dark-button {
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background: rgba(0,0,0,.7);
    padding: 7px 12px;
    display: inline-block;
}
.remember-me                        { color: #fff; font-size: 16px; padding: 5px}
.remember-me input                  { width: 20px;height: 20px; margin-left: -30px !important;}
.remember-me label                  { margin-left: 25px;}

.site-login                         {     height: 100vh; margin-bottom: -68px;}
.login-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff !important;
}
.login-input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff !important;
   opacity:  1;
}
.login-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff !important;
   opacity:  1;
}
.login-input::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff !important;
}

.no-padding {
    padding: 0;
}

.bg-login {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1;
}

.bg-login-blur {
    position: absolute;
    top: -500px;
    right: calc(50% - 320px);
    transform: scale(1.2) rotateY(180deg);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: .7;
}

.bg-login-normal {
    position: absolute;
    top: -250px;
    right: calc(50% - 400px);
    transform: scale(0.6);
}

.icon-forget span {
    text-align: center;
    background: #fff;
    width: 36px;
    height: 36px;
    color: #a0a0a0;
    display: block;
    border-radius: 50%;
    line-height: 36px;
}

.icon-forget span i {
    font-size: 18px;
}
