.board .head-panel {
    background-color: #009c3f;
    position: relative;
    top: -7px;
    padding: 10px 0;
}

.board .dark-button {
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background: rgba(0,0,0,.7);
    padding: 6px 12px;
    display: inline-block;
}

.board .type-task-btn {
    background-color: transparent;
    height: 32px;
    border-radius: 5px;
    color: #fff;
    padding: 4px 12px;
    border: 1px solid rgba(255, 255, 255, .5);
}

.board .game-name {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    word-wrap: break-word;
    line-height: 24px;
}

.board .main {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0 15px 0;
}

.board .title {
    color: #7d8b83;
    font-size: 14px;
}

.board .scores-summary {
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
    margin-bottom: 10px;
}

.scores-summary-middle-panel {
    text-align: center;
}

.scores-summary-left-panel {
    text-align: right;
}

.board .scores-summary-right-panel i {
    font-size: 20px;
    color: #d877c2;
}

.board .scores-summary-right-panel .tasks-counts {
    font-size: 18px;
    color: #d877c2;
    position: relative;
    margin-top: -4px;
    margin-left: 5px;
}

.board .scores-summary-right-panel .done {
    font-size: 24px;
    font-weight: 900;
    color: #a84692;
}

.board .scores-summary-right-panel .all{
    font-weight: 700;
    position: relative;
    margin-left: -2px;
}

.board .task-progress {
    position: relative;
    overflow: hidden;
    background-color: #e8adda;
    border-radius: 13px;
    height: 26px;
    width: 100%;
    text-align: center;
    padding: 3px 0px;
    margin-top: 3px;
    display: inline-block;
}

.board .task-progress span {
    color: #fff;
    font-weight: 700;
    z-index: 10;
    position: absolute;
    width: 100%;
    left: 0px;
}

.board .task-progress .fill {
    height: 100%;
    position: absolute;
    left: 0px;
    top:0px;
    background: #d877c2;
    z-index: 1;
}

.board .scores-summary-left-panel i {
    font-size: 24px;
}

.board .scores-summary-left-panel span {
    font-size: 18px;
    color: #59645e;
    font-weight: 700;
    position: relative;
    top: -5px;
}

.ranking-table-header {
    color: #7d8b83;
    font-size: 14px;
    margin-bottom: 10px;
}

.ranking-table-content .ranking-row {
    font-size: 16px;
    color: #59645e;
    padding: 8px 0;
}

.ranking-table-content .ranking-row.row-current-user {
    background: #d877c2;
    color: #fff;
}

.ranking-table-content .ranking-row.row-1 {
    background: #f1f1f1;
}

.ranking-table-content .ranking-row [class^="circle-position"] {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ddd;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.ranking-table-content .ranking-row .pos-1 {
    background-color: #e6c218;
    color: #fff;
}

.ranking-table-content .ranking-row .pos-2 {
    background-color: #969b9f;
    color: #fff;
}

.ranking-table-content .ranking-row .pos-3 {
    background-color: #c77525;
    color: #fff;
}

.ranking-table-content .ranking-row .name {
    font-weight: 700;
}

.ranking-table-content .ranking-row .score {
    color: #a84692;
    font-weight: 700;
}

.ranking-table-content .ranking-row.row-current-user .score {
    color: #fff;
}

.board .pagination {
    width: 100%;
    text-align: center;
    border-radius: 0;
    margin: 15px 0 5px 0;
}

.board .pagination > li {
    display: inline-block;
}

.board .pagination > li.prev,
.board .pagination > li.next {
    display: none;
}

.board .pagination > li a {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    display: block;
    float: none;
    padding: 0;
    margin: 3px;
    border: 0;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 20px;
}

.board .pagination > li.active a {
    width: 24px;
    height: 24px;
    background-color: #53ca33;
    top: 0px;
    line-height: 24px;
}
