.contact h1 {
    color:#fff;
    font-size: 18px;
    font-weight: 700;
    padding: 25px 0;
    margin: 0;
}

.contact .input{
    padding: 15px 15px;
    font-size: 18px;
    color: #fff;
    background: rgba(83,202,51,0.7);
    border: 1px solid rgba(255, 255, 255, .7);
    font-weight: 700;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
}
.contact .input:focus {
    background: rgba(83, 202, 51, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: none;
}

.contact textarea {
    min-height: 220px;
}

.contact .email-button                       { width: 100%; background-color:#fff; color: #009c3f; border-color: #fff; text-transform: uppercase;
    height: 50px; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 18px; margin-bottom: 30px}

.contact .email-button:hover                 { background-color:#009c3f; border-color: #009c3f; color : #ffffff;}

.contact .email-button:focus,
.contact .email-button:active,
.contact .email-button:focus:active          {  background-color:#fff; color: #009c3f; border-color: #fff; }

.contact .input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff !important;
}
.contact .input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff !important;
    opacity:  1;
}
.contact .input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff !important;
    opacity:  1;
}
.contact .input::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff !important;
}

.div-border {border-radius: 5px; border: solid 1px; border-color: #ffffff; padding: 13px 13px 0px 13px; margin: 5px 0 30px 0}
