/*
    Created on : 2017-05-02, 18:53:44
    Author     : Logos
*/

*:focus {
    outline: none;
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.dashboard .game-list-view,
.dashboard .upcoming-game-list-view {
    margin-bottom: 20px;
}

.dashboard .section-header {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 0px;
}
.dashboard .section-header i {
    font-size: 20px;
    margin-right: 5px;
    margin-top: 5px;
}

.dashboard .section-header h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    max-width: calc(100% - 35px);
}

.dashboard .section-header .counter {
    color: #009c3f;
    background: #fff;
    float: right;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 900;
    padding: 2px 0;
    text-align: center;
}

.dashboard .upcoming-game-list-view a:hover,
.dashboard .single-game a:hover {
    text-decoration: none;
}

.dashboard .upcoming-game-list-view a ,
.dashboard .single-game a {
    color: #000;
}

.dashboard .game-list-view .single-game {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
}

.dashboard .game-list-view .owl-item img {
    width: auto;
}

.dashboard .game-list-view > div h2 {
    margin: 5px 0;
    font-size: 18px;
    color:#009c3f;
    text-transform: capitalize;
    font-weight: 700;
}

.dashboard .single-game, .dashboard .single-upcoming-game {
    padding: 10px 15px;
}

.dashboard .single-game p {
    height: 60px;
    display: block;
    word-wrap: break-word;
}

.dashboard .single-game .counters {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 8px 0;
}

.dashboard .single-game .counters i{
    font-size: 20px;
    color: #d877c2;
}

.dashboard .single-game .counters .tasks-counts {
    font-size: 18px;
    color: #d877c2;
    position: relative;
    margin-top: -4px;
    margin-left: 5px;
}

.dashboard .single-game .counters .tasks-counts .done {
    font-size: 24px;
    font-weight: 900;
    color: #a84692;
}

.dashboard .single-game .counters .tasks-counts .all{
    font-weight: 700;
    position: relative;
    margin-left: -2px;
}

.dashboard .single-game .counters .task-progress {
    position: relative;
    overflow: hidden;
    background-color: #e8adda;
    border-radius: 13px;
    height: 26px;
    width: 130px;
    text-align: center;
    padding: 3px 0px;
    right: 30px;
    margin-top: 3px;
}

.dashboard .single-game .counters .task-progress span {
    color: #fff;
    font-weight: 700;
    z-index: 10;
    position: absolute;
    width: 100%;
    left: 0px;
}

.dashboard .single-game .counters .task-progress .fill {
    height: 100%;
    position: absolute;
    left: 0px;
    top:0px;
    background: #d877c2;
    z-index: 1;
}

.dashboard .single-game .timer, .dashboard .single-game .date {
    padding: 8px 5px 0px 5px;
    text-align: center;
    color: #7d8b83;
    font-weight: 700;
}

.dashboard .single-game .timer i {
    font-size: 16px;
    color: #7d8b83;
}

.dashboard .single-game .timer > span {
    position: relative;
    top: -3px;
    margin-left: 3px;
    color: #59645e;
}

/**
* Upcoming gamesr
*/

.dashboard .upcoming-game-list-view .single-upcoming-game {
    background: #009c3f;
     border-radius: 5px;
     display: inline-block;
 }

.dashboard .upcoming-game-list-view .single-upcoming-game h2 {
    margin: 5px 0;
    font-size: 18px;
    color:#fff;
    text-transform: capitalize;
    font-weight: 700;
}

.dashboard .upcoming-game-list-view p {
    color: #b8dbc1;
    height: 40px;
    white-space: normal;
}

.dashboard .upcoming-game-list-view .timer {
    border-top: 1px solid #40b56f;
}

.dashboard .upcoming-game-list-view .timer {
    padding: 8px 5px 0px 5px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.dashboard .upcoming-game-list-view .timer i {
    font-size: 16px;
}

.dashboard .upcoming-game-list-view .timer > span {
    position: relative;
    top: -3px;
    margin-left: 3px;
}

.dashboard .delete-cross {
    position: absolute;
    margin-top: -7px;
    margin-left: -15px;
}

.dashboard .empty-text {
    padding: 10px 15px;
    background: rgba(0,0,0,.15);
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    width: calc(100vw - 30px);
    border-radius: 5px;
}

.dashboard .empty-text.upcomming {
    color: #ffffff;
    line-height: 1;
}

.no-padding {
    padding: 0px
}

.small-padding {
    padding: 2px
}

.truncate {
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-line;
    text-overflow: ellipsis;
}

.owl-carousel .owl-stage-outer {
    width: calc(100% + 30px);
    margin-left: -15px;
    padding-left: 15px;
}

.counters-right-panel {
    position: relative;
    margin-top: 2px;
}

.dashboard .type-game {
    height: 32px;
    background: #7d8b83;
    color: #fff;
    padding: 0 15px;
    margin-top: -5px;
    width: calc(100% + 30px);
    position: relative;
    top: -5px;
    left: -15px;
    border-radius: 5px 5px 0px 0px;
    line-height: 32px;
}

.single-upcoming-game .type-game {
    margin-bottom: 5px;
}

.dashboard .type-game i {
    position: relative;
    margin-top: 2px;
    opacity: .7;
}

.dashboard .type-game.type-open i:after {
    content: " ";
    width: 24px;
    height: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 0px #18bd51;
    display: block;
    position: absolute;
    top: 14px;
    right: -5px;
    transform: rotateZ(-45deg);
}

.type-game.type-open {
    background-color: #18bd51;
}

.dashboard .search-btn {
    display: block;
    text-align: center;
    margin: 20px 0 15px 0;
    padding: 7px 0;
    background-color: #fff;
    height: 48px;
    border-radius: 24px;
}

.dashboard .search-btn i {
    color: #d877c2;
    font-size: 22px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.dashboard .search-btn span {
    color: #a84692;
    font-size: 22px;
    font-weight: 900;
}

.dashboard .ranking-place {
    border-bottom: 1px solid #d9d9d9;
    padding: 8px 0 4px 0;
}

.dashboard .ranking-place i {
    font-size: 20px;
}

.dashboard .ranking-place span {
    font-size: 16px;
    color: #59645e;
    font-weight: 700;
    position: relative;
    top: -5px;
}
