*:focus {
    outline: none;
}

* {
    font-family: 'Lato', sans-serif;font-weight: 400;
}

.game .head-panel {
    background-color: #009c3f;
    position: relative;
    top: -7px;
    padding: 10px 0px 0px 0px;
}

.game .owl-carousel{
    margin-bottom: 20px;
}

.game .dark-button {
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background: rgba(0,0,0,.7);
    padding: 6px 12px;
    display: inline-block;
}

.game .status-game-btn {
    background-color: #53ca33;
    height: 32px;
    border-radius: 5px;
    color: #fff;
    padding: 2px 12px;
}

.game.game-upcoming .status-game-btn {
    background-color: #e6c218;
}

.game.game-close .status-game-btn {
    background-color: #fff;
    color: #d877c2;
}

.game .status-game-btn span {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.game .status-game-btn i {
    position: relative;
    font-size: 16px;
    margin-left: 2px;
    margin-top: 4px;
}

.game .game-name {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    word-wrap: break-word;
    line-height: 24px;
}

.game .timer {
    background: #007d32;
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
}

.game .timer i {
    position: relative;
    margin-top: 2px;
    margin-right: 3px;
    font-size: 20px;
}

.game .timer span {
    position: relative;
    margin-top: -2px;
}

.game .section-header {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 0px;
}
.game .section-header i {
    font-size: 20px;
    margin-right: 5px;
    margin-top: 5px;
}

.game .section-header h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    max-width: calc(100% - 35px);
}

.game .section-header .counter {
    color: #009c3f;
    background: #fff;
    float: right;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 900;
    padding: 2px 0;
    text-align: center;
}

.reader-btn {
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    height: 60px;
    width: calc(100% - 30px);
    border-radius: 30px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 50;
    bottom: 15px;
    left: 15px;
}

.reader-btn i {
    color: #d877c2;
    font-size: 24px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.reader-btn span {
    color: #a84692;
    font-size: 24px;
    font-weight: 900;
}

.owl-carousel .owl-stage-outer {
    width: calc(100% + 30px);
    margin-left: -15px;
    padding-left: 15px;
}

.game .task-list-view .un-finish-game,
.game .task-list-view .finish-game,
.game .task-list-view .un-done-game {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
}

.game .un-finish-game,
.game .finish-game,
.game .un-done-game{
    padding: 10px 15px;
}

.game .summary {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.game .counters {
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #d9d9d9;
}

.game .counters i{
    font-size: 20px;
    color: #d877c2;
}

.game .counters .tasks-counts {
    font-size: 18px;
    color: #d877c2;
    position: relative;
    margin-top: -4px;
    margin-left: 5px;
}

.game .counters .tasks-counts .done {
    font-size: 24px;
    font-weight: 900;
    color: #a84692;
}

.game .counters .tasks-counts .all{
    font-weight: 700;
    position: relative;
    margin-left: -2px;
}

.game .counters .task-progress {
    position: relative;
    overflow: hidden;
    background-color: #e8adda;
    border-radius: 13px;
    height: 26px;
    width: 130px;
    text-align: center;
    padding: 3px 0px;
    margin-top: 3px;
    display: inline-block;
}

.game .counters .task-progress span {
    color: #fff;
    font-weight: 700;
    z-index: 10;
    position: absolute;
    width: 100%;
    left: 0px;
}

.game .counters .task-progress .fill {
    height: 100%;
    position: absolute;
    left: 0px;
    top:0px;
    background: #d877c2;
    z-index: 1;
}

.game .counters-left-panel {
    text-align: right;
}

.team-section {
    margin: 8px 0;
}

.game .team-text {
    font-szie: 14px;
    color: #7f7f7f;
}

.game .team-name{
    text-align: right;
}

.game .team-name a {
    font-size: 16px;
    font-weight: 700;
    color: #59645e;
}

.ranking-section {
    padding: 10px 0 5px 0;
}

.game .ranking-place i {
    font-size: 24px;
}

.game .ranking-place span {
    font-size: 18px;
    color: #59645e;
    font-weight: 700;
    position: relative;
    top: -5px;
}

.game .ranking-button {
    text-align: right;
}

.game .small-text {
    color: rgba(255,255,255,.7);
    font-weight: 500;
    font-size: 14px;
    word-wrap: break-word;
    margin-bottom: 8px;
}

.game .big-text {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    word-wrap: break-word;
}

.game .un-finish-game h2,
.game .finish-game h2,
.game .un-done-game h2 {
    margin: 5px 0 12px 0;
    font-size: 18px;
    color: #009c3f;
    text-transform: capitalize;
    font-weight: 700;
}

.game .finish-game h2 {
    color: #a84692;
}

.game .un-finish-game .photo > div,
.game .finish-game .photo > div,
.game .un-done-game .photo > div {
    height: 56px;
    width: 56px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    line-height: 62px;
    text-align: center;
}

.game .finish-game .photo > div {
    background-color: #d877c2;
}

.game .finish-game .photo > div i {
    font-size: 30px;
    color: #fff;
}

.game .un-finish-game .discription-image,
.game .un-finish-game .discription-noimage,
.game .finish-game .discription-image,
.game .un-done-game .discription-image,
.game .un-done-game .discription-noimage {
    height: 60px;
    display: block;
    word-wrap: break-word;
    color: #000;
    overflow: hidden;
}

.game .score {
    margin-top: 12px;
    padding-top: 5px;
    border-top: 1px solid #d9d9d9;
}

.game .score i {
    color: #d877c2;
    font-size: 24px;
    position: relative;
    top: 4px;
}

.game .score .text-score {
    color: #a84692;
    font-weight: 900;
    font-size: 24px;
}

.game .score .text-pkt {
    color: #d877c2;
    font-weight: 900;
    font-size: 24px;
}

.premium-game .score i, .premium-game .score .text-score {
    color: #e6c218;
}

.premium-game .score .text-pkt {
    color: #d1ac00;
}

.game .empty-text {
    padding: 10px 15px;
    background: rgba(0,0,0,.15);
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    width: calc(100vw - 30px);
    border-radius: 5px;
}

.head-top-game {
    margin: 10px 0 5px 0;
}

.game .more-actions {
    text-align: right;
    position: relative;
}

.game .more-actions > div > a{
    width: 26px;
    height: 26px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    padding: 4px 0;
}

.game .more-actions .dropdown-menu {
    right: 0;
    top: 0;
    left: auto;
    border: 0;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.game .more-actions .dropdown-menu a {
    padding: 8px 0;
    color: #323232;
    font-weight: 700;
}

.game .more-actions .dropdown-menu li:not(:first-of-type) {
    border-top: 1px solid #d9d9d9;
}

.game .more-actions .dropdown-menu .leave-item a {
    color: #a84692;
}

.game .more-info {
    margin-bottom: 10px;
}

.game .more-info a {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    opacity: .7;
    font-weight: 700;
}

.game .more-info a svg{
    transform: scale(0.7);
    position: relative;
    top: 2px;
}

.game .more-info a[aria-expanded="true"] {
    opacity: 1;
}

.game .more-info a[aria-expanded="true"] svg{
    transform: scale(0.7) rotateZ(180deg);
}

.game .info-section {
    margin-bottom: 10px;
}

.game .info-section .big-text a {
    color: #fff;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.game .info-section .big-text a:hover {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.premium-game .premium-star {
    text-align: right;
}

.premium-game .premium-star span {
    display: inline-block;
    text-align: center;
    position: relative;
    padding-top: 2px;
    top: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e6c218;
}

.premium-game .premium-star span i {
    color: #fff;
    font-size: 14px;
    margin-left: 1px;
}

.game .organizer {
    margin-top: 10px;
    margin-bottom: 90px;
    color: #fff;
}

.game .organizer .organizer-title {
    opacity: .7;
}

.game .organizer .organizer-name {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}

.game .organizer .organizer-description {
    padding-bottom: 15px;
}

.game .organizer .organizer-img-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

/* individual style for element */

.info-section-date > div > div:nth-child(2){
    text-align: right;
}

.game-upcoming .timer {
    background: #fff;
    color: #4c4c4c;
    font-size: 16px;
}

.game-upcoming .timer span > span {
    font-size: 18px;
    font-weight: 700;
}

.game-close .summary {
    margin-bottom: 20px;
}

.game-close .un-finish-game h2,
.game-inprogress .un-done-game h2{
    color: #4c4c4c;
}

.game-close .un-finish-game .score i,
.game-close .un-finish-game .score span,
.game-inprogress .un-done-game .score i,
.game-inprogress .un-done-game .score span {
    color: #a5a5a5;
}

.game-close .un-finish-game .score span:first-of-type,
.game-inprogress .un-done-game .score span:first-of-type {
    color: #7f7f7f;
}

.game-close .un-finish-game .score .premium-star span:first-of-type i,
.game-inprogress .un-done-game .score .premium-star span:first-of-type i {
    color: #fff;
}

.game #map {
    height: 280px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* lobby game */

.game-lobby {
    margin-bottom: 80px;
}

/* countdown task slider */

.countdown-task {
    border-top: 1px solid #d9d9d9;
    padding-top: 8px !important;
    margin-top: 12px;
    color: #7d8b83;
}

.countdown-task i {
    font-size: 16px;
    float: left;
    padding-top: 10px;
}

.countdown-current i {
    color: #009c3f;
    animation: animclock 2s infinite;
}

@keyframes animclock {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.countdown-text {
    float: left;
    margin-left: 8px;
    max-width: calc(100% - 25px);
}

.countdown-text > div > span, .countdown-text > div {
    font-weight: 700;
}

.countdown-current .countdown-text > div > span {
    color: #009c3f;
}
