.head {
    background-color: #53ca33;
    min-height: 100vh
}

.head header {
    height: 82px;
    padding-top: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    font-size: 0px; /* fix white space inline-block (class="vertical-center") inside - DO NOT TOUCH */
}

.head header img.logo {
    width: 168px;
    margin: 0 auto;
    display: block;
}

.head header .menu-btn-header {
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.head header .menu-btn-header:before,
.head header .menu-btn-header:after {
    content: " ";
    display: block;
    position: absolute;
    width: 20px;
    height: 4px;
    border-radius: 4px;
    transition: all 0.25s ease-in-out;
}

.head header .menu-btn-header:before {
    background-color: #009c3f;
    right: 11px;
    top: 14px;
}

.head header .menu-btn-header:after {
    background-color: #53ca33;
    right: 11px;
    top: 24px;
}

.head .main-counter {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #009c3f;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: 32px;
}

.head .header-counter i {
    font-size: 22px;
    color: #fff;
    position: absolute;
    right: 28px;
    top: 10px;
}
