.how-play {
    margin: 15px 0;
}

.how-play h2 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 20px 0;
}

.how-play img {
    margin-top: 10px;
    max-width: 100%;
    border-radius: 3px;
}

.how-play .info-card {
    background: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.info-card.info-add h2 {
    background: #7d8b83;
}

.info-card h3, .content-game-element h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #009c3f;
    font-weight: 700;
}

.info-card h4 {
    margin: 15px 0;
    font-size: 16px;
    font-weight: 700;
}

.info-card h4 span {
    display: inline-block;
    position: relative;
    margin: 0 12px 0 7px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
}

.info-card h4:before {
    position: absolute;
    display: block;
    content: " ";
    width: 22px;
    height: 22px;
    background-color: #a84692;
    border-radius: 50%;
    z-index: 0;
}

.info-card p {
    margin-bottom: 15px;
}

.info-card p span {
    font-weight: 600;
}

.info-card .img-gif {
    text-align: center;
    margin-bottom: 5px;
}

.info-card .info-card-element > div {
    margin: 15px 0;
}

.game-element .content-game-element{
    background: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.game-element .content-game-element img{
    margin-bottom: 10px;
}

.game-element i, .game-element svg {
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    background: #009c3f;
    margin-bottom: 10px;
}

.game-element svg path {
    transform: translate(10px, 16px);
}

/* owl carousel how to play */

.owl-carousel-regular {
    overflow: hidden;
}

.owl-carousel-regular .owl-item {
    display: inline-block;
}

.owl-carousel-regular .owl-nav {
    display: none;
}

.owl-carousel-regular .owl-dots {
    margin-top: 20px;
}

.owl-carousel-regular .owl-dot {
    position: relative;
    display: inline-block;
    margin: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
}

.owl-carousel-regular .owl-dot.active {
    display: inline-block;
    top: 2px;
    width: 12px;
    height: 12px;
    background-color: #009c3f;
}
