.lobby .head-panel {
    padding: 10px 0 15px 0;
}

.lobby .dark-button {
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background: rgba(0,0,0,.7);
    padding: 6px 12px;
    display: inline-block;
}

.lobby .title-head {
    background-color: #18bd51;
    height: 32px;
    border-radius: 5px;
    color: #fff;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 700;
}

.no-padding {
    padding: 0px
}

.lobby .section-header {
    padding-bottom: 10px;
}

.lobby .section-header,
.lobby .section-header h1 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.lobby .lobby-list-element {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    margin: 2px 0;
    padding: 10px 15px;
    width: 100%;
}

.lobby .lobby-list-element a {
    color: #000;
}

.truncate {
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-line;
    text-overflow: ellipsis;
}

.lobby-list-element .type-game {
    font-size: 14px;
    font-weight: 700;
}

.lobby-list-running .type-game {
    color: #53ca33;
}

.lobby-list-upcoming .type-game {
    color: #e6c218;
}

.lobby .lobby-list-element h2 {
    margin: 5px 0;
    font-size: 18px;
    color:#009c3f;
    text-transform: capitalize;
    font-weight: 700;
}

.lobby .lobby-list-element p {
    display: block;
    word-wrap: break-word;
}

.lobby .lobby-list-element .bottom-section {
    border-top: 1px solid #d9d9d9;
    padding-top: 5px;
}

.lobby .lobby-list-element .counters-tasks,
.lobby .lobby-list-element .counters-points {
    margin-right: 5px;
}

.lobby .lobby-list-element .counters-tasks-label,
.lobby .lobby-list-element .counters-points-label {
    font-size: 20px;
    color: #a84692;
    font-weight: 900;
}

.lobby .lobby-list-element .counters-points-label span {
    color: #d877c2;
    font-weight: 900;
}

.lobby .lobby-list-element .counters i{
    font-size: 20px;
    color: #d877c2;
    position: relative;
    margin-top: 5px;
}

.lobby .lobby-list-element .counters-tasks i {
    margin-right: 3px;
}

.lobby .lobby-list-element .timer {
    margin-top: 7px;
}

.lobby .lobby-list-element .timer i {
    font-size: 16px;
    color: #7d8b83;
}

.lobby .lobby-list-element .timer > span {
    position: relative;
    top: -3px;
    margin-left: 3px;
    color: #59645e;
}

.lobby-list-upcoming .bottom-section {
    text-align: center;
}

.lobby .lobby-search {
    position: relative;
}

.lobby .lobby-search:before {
    content: "\67";
    display: block;
    position: absolute;
    font-family: "kompasicons";
    color: #fff;
    opacity: .7;
    font-size: 20px;
    margin-top: 7px;
    margin-left: 16px;
}

.lobby .lobby-search input {
    background: rgba(255, 255, 255, .2);
    height: 42px;
    border-radius: 21px;
    margin-bottom: 15px;
    border: 0;
    outline: 0;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 6px 15px 10px 48px;
    transition: all 0.25s ease-in-out;
}

.lobby .lobby-search input:focus,
.lobby .lobby-search input:active,
.lobby .lobby-search.not-empty input{
    background: rgba(0, 0, 0, .2);
}

.lobby .lobby-search input::placeholder{
    color: #fff;
    opacity: .7;
}

.lobby .lobby-search .search-clear-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 6px;
    right: 24px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}

.lobby .lobby-search.not-empty .search-clear-btn {
    opacity: 1;
    visibility: visible;
}

.lobby .lobby-search .search-clear-btn:before {
    content: " ";
    display: block;
    position: absolute;
    width: 18px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    transform: rotateZ(-45deg);
    top: 13px;
    left: 6px;
}

.lobby .lobby-search .search-clear-btn:after {
    content: " ";
    display: block;
    position: absolute;
    width: 18px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    transform: rotateZ(45deg);
    top: 13px;
    left: 6px;
}

.lobby #map {
  height: 280px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.lobby .empty-text {
    padding: 10px 15px;
    background: rgba(0,0,0,.15);
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}
