body {
    overflow-x: hidden;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle !important;
    float: none !important;
}

.has-success .form-control {
    box-shadow: none !important;
    border: 1px solid #3c763d !important;
}
