.menu-panel {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.menu-panel.active {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, .7);
}

.head {
    transition: all 0.5s ease-in-out;
}

.head.active-menu {
    overflow: hidden;
}

.menu-panel .menu-btn-panel {
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    top: 15px;
}

.menu-panel .menu-btn-panel:before,
.menu-panel .menu-btn-panel:after {
    content: " ";
    display: block;
    position: absolute;
    width: 20px;
    height: 4px;
    border-radius: 4px;
    transition: all 0.25s ease-in-out;
}

.menu-panel .menu-btn-panel:before {
    background-color: #009c3f;
    right: 11px;
    top: 19px;
    transform: rotateZ(45deg);
}

.menu-panel .menu-btn-panel:after {
    background-color: #53ca33;
    right: 11px;
    top: 19px;
    transform: rotateZ(-45deg);
}

.menu-panel-content {
    padding: 70px 40px 0 40px;
}

.menu-panel-links {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.menu-panel-links ul,
.menu-panel-links li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-panel-links a {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

.menu-panel-links a.active {
    color: #53ca33;
}

.menu-user {
    padding-top: 20px;
}

.menu-user .dark-button {
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background: rgba(0,0,0,.7);
    padding: 6px 12px;
    margin-top: 15px;
    display: inline-block;
}

.dark-button.user-settings {
    background: #00a441;
}

.dark-button.user-logout{
    margin-left: 5px;
}

.dark-button.admin-panel {
    background: #a84692;
}

.menu-user i {
    font-size: 24px;
    color: #fff;
}

.menu-user .user-info {
    text-align: right;
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
}

.menu-user .user-info .user-email {
    font-size: 14px;
    opacity: .7;
}

.menu-user .user-links {
    text-align: right;
}
