.modal-backdrop.in {
    opacity: .7;
}

.modal-open .modal {
    overflow-y: hidden;
}

.modal-dialog {
    margin: 0;
    display: flex;
    height: 100%;
    margin: 0 auto;
}

.modal-content {
    align-self: center;
    width: 100%;
}

.modal-body {
    padding: 0;
    color: #fff;
}

.modal-header {
    display: none;
}

.modal-content {
    box-shadow: none !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    border: 0 !important;
}

.modal-content h1 {
    font-size: 28px;
    text-align: center;
    padding: 15px 0 20px 0;
    margin: 0;
}

.modal-content h1 > span {
    display: block;
    font-size: 22px;
    margin-top: 5px;
}

.modal-content input {
    padding: 15px 15px;
    font-size: 18px;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .7);
    font-weight: 700;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
}

.modal-content input:focus {
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: none;
}

.has-success input {
    border-color: #53ca33 !important;
}

.modal-content input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff !important;
}
.modal-content input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff !important;
   opacity:  1;
}
.modal-content input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff !important;
   opacity:  1;
}
.modal-content input::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff !important;
}

.modal-content .code-button {
    width: 100%;
    box-shadow: none;
    background-color: #d877c2;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
}

.modal-content .code-button:hover,
.model-content .code-button:focus,
.model-content .code-button:active {
    background-color: #d877c2;
    color: #fff;
}

.modal-content .btn-close {
    font-size: 18px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.modal-content .has-error .help-block-error {
    background-color: #a94442;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

.icon-modal {
    height: 42px;
    width: 42px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    display: block;
    margin: 0 auto;
}

.codeBad .icon-modal {
    background: #a0a0a0;
    font-weight: 900;
    font-size: 30px;
}

.codeCompleted .icon-modal {
    background: #53ca33;
    font-weight: 900;
    font-size: 30px;
}

.codeGood .icon-modal {
    background: #53ca33;
    font-size: 24px;
    line-height: 48px;
}

.modal-content .score-text {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -8px;
}

.modal-content .score-text i {
    font-size: 36px;
}

.modal-content .score-text span {
    font-weight: 900;
    position: relative;
    top: -8px;
}

.codeGood.modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.codeGood.modal-bg svg:nth-child(1) {
    transform: scale(0.6);
    top: -420px;
    left: -200px;
    position: absolute;
}

.codeGood.modal-bg svg:nth-child(2) {
    transform: scale(0.6);
    top: 0;
    left: -500px;
    position: absolute;
}
