.profile-attributes-update input {
    padding: 15px 15px;
    font-size: 18px;
    color: #fff;
    background: rgba(83,202,51,0.7);
    border: 1px solid rgba(255, 255, 255, .7);
    font-weight: 700;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
}
.profile-attributes-update input:focus {
    background: rgba(83, 202, 51, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: none;
}

.signup-button {
    width: 100%;
    background-color: #fff;
    color: #009c3f;
    border-color: #fff;
    text-transform: uppercase;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 10px 0 15px 0;
}

.form-group .btn {
    width: 100%;
    background-color: #fff;
    color: #009c3f;
    border-color: #fff;
    text-transform: uppercase;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-danger {
    height: 40px;
    font-size: 16px;
    padding: 7px 12px;
    font-weight: 700;
}

.input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff !important;
}
.input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff !important;
   opacity:  1;
}
.input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff !important;
   opacity:  1;
}
.input::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff !important;
}

.h3 {
    font-size: 16px;
    padding: 0px 0 10px 0;
    margin: 0;
    font-weight: 400;
    color: #fff;
}
.h4 {
    font-size: 16px;
    padding: 25px 0;
    margin: 0;
    font-weight: 700;
    color: #fff;
}

.div-delete {
    margin: 0 0 15px 0;
}
