*:focus {
    outline: none;
}

* {font-family: 'Lato', sans-serif;font-weight: 400;  }

.task {
    background-color: #53ca33;
}

.task .head-panel {
    background-color: #009c3f;
    position: relative;
    top: -7px;
    padding: 10px 0;
}

.task .dark-button {
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background: rgba(0,0,0,.7);
    padding: 6px 12px;
    display: inline-block;
}

.task .type-task-btn {
    background-color: transparent;
    height: 32px;
    border-radius: 5px;
    color: #fff;
    padding: 4px 12px;
    border: 1px solid rgba(255, 255, 255, .5);
}

.task .type-task-btn.type-premium {
    background-color: #e6c218;
    border: 0;
    color: #fff;
    padding: 5px 12px;
}

.task .type-task-btn.type-premium i {
    position: relative;
    top: 1px;
}

.task .task-name {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    word-wrap: break-word;
    line-height: 24px;
}

.task .reader-btn {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    height: 60px;
    width: calc(100% - 30px);
    border-radius: 30px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 50;
    bottom: 15px;
    left: 15px;
}

.task .reader-btn i {
    color: #d877c2;
    font-size: 24px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.task .reader-btn span {
    color: #a84692;
    font-size: 24px;
    font-weight: 900;
}


.task .main {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 10px 0 90px 0;
    padding: 10px 15px;
}

.task .status-task-btn {
    background-color: #53ca33;
    height: 32px;
    border-radius: 5px;
    color: #fff;
    padding: 2px 12px;
    display: inline-block;
}

.task .status-task-btn span {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.task .status-task-btn i {
    position: relative;
    font-size: 16px;
    margin-right: 2px;
    margin-top: 4px;
}

.task .status-task-btn.status-done {
    background-color: #d877c2;
}

.task .status-task-btn.status-not-done {
    background-color: #7f7f7f;
}

.task .task-head {
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.task .score {
    font-weight: 900;
    font-size: 35px;
    color: #a84692;
    text-align: right;
    margin-top: -14px;
}

.task .score i {
    color: #d877c2;
    font-size: 24px;
    position: relative;
    top: 4px;
    right: -5px;
}

.task .score .text-score {
    color: #a84692;
    font-weight: 900;
    font-size: 24px;
    margin-right: -4px;
}

.task .score .text-pkt {
    color: #d877c2;
    font-weight: 900;
    font-size: 24px;
}

.task .title {
    color: #a3a3a3;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
}

.task .text {
    margin: 5px 0 10px 0;
    color: #59645e;
    font-size: 16px;
}

.task .img {
    text-align: center;
    margin: 10px 0;
}

.task .img img {
    border-radius: 5px;
}

.task .timer {
    background: #007d32;
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    position: relative;
    bottom: -10px;
}

.task .timer-incoming {
    background: #fff;
    color: #4c4c4c;
}

.task .timer i {
    position: relative;
    margin-top: 2px;
    margin-right: 3px;
    font-size: 20px;
}

.task .timer span {
    position: relative;
    margin-top: -2px;
}

.timer-current i {
    animation: animclock 2s infinite;
}

@keyframes animclock {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.no-padding                             { padding: 0px}

.truncate {
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
