.team .head-panel {
    background-color: #009c3f;
    position: relative;
    top: -7px;
    padding: 10px 0;
}

.team .dark-button {
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background: rgba(0,0,0,.7);
    padding: 6px 12px;
    display: inline-block;
}

.team .type-task-btn {
    background-color: transparent;
    height: 32px;
    border-radius: 5px;
    color: #fff;
    padding: 4px 12px;
    border: 1px solid rgba(255, 255, 255, .5);
}

.team .game-name {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    word-wrap: break-word;
    line-height: 24px;
}

.team .main {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0 15px 0;
}

.team .title {
    color: #7d8b83;
    font-size: 14px;
}

.team .team-head {
    border-bottom: 1px solid #d9d9d9;
    padding: 0px 0 10px 0;
    margin-bottom: 10px;
}

.team .team-content .ranking-row {
    font-size: 16px;
    color: #59645e;
    padding: 8px 0;
}

.team .team-content .ranking-row.row-1 {
    background: #f1f1f1;
}

.team .team-content .name {
    font-weight: 700;
}
