.regulations .box {
    background    : #ffffff;
    border-radius : 5px;
    padding       : 20px;
    margin-bottom : 50px;
}

.regulations h1 {
    font-weight : 700;
}

.regulations h4 {

    font-weight : 600;
}

.regulations .paragraf {
    padding-left : 30px;
    padding-right : 30px;
}

