.resetPassword .password-input {
    padding: 15px 15px;
    font-size: 18px;
    color: #fff;
    background: rgba(83,202,51,0.7);
    border: 1px solid rgba(255, 255, 255, .7);
    font-weight: 700;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
}
.resetPassword .password-input:focus {
    background: rgba(83, 202, 51, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: none;
}

.resetPassword  .set-button {
    width: 100%;
    background-color: #fff;
    color: #009c3f;
    border-color: #fff;
    text-transform: uppercase;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
}

.resetPassword .dark-button {
    display: block;
    text-align: center;
    height: 40px;
    padding: 10px 0;
}

.resetPassword .password-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff !important;
}
.resetPassword .password-input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff !important;
    opacity:  1;
}
.resetPassword .password-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff !important;
    opacity:  1;
}
.resetPassword .password-input::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff !important;
}
