@charset "UTF-8";

@font-face {
  font-family: "kompasicons";
  src:url("../fonts/kompasicons.eot");
  src:url("../fonts/kompasicons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/kompasicons.woff") format("woff"),
    url("../fonts/kompasicons.ttf") format("truetype"),
    url("../fonts/kompasicons.svg#kompasicons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "kompasicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "kompasicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\61";
}
.icon-award:before {
  content: "\62";
}
.icon-clipboard:before {
  content: "\63";
}
.icon-dropdown:before {
  content: "\64";
}
.icon-list:before {
  content: "\65";
}
.icon-lockarrow:before {
  content: "\66";
}
.icon-magnify:before {
  content: "\67";
}
.icon-map:before {
  content: "\68";
}
.icon-run:before {
  content: "\69";
}
.icon-specialplus:before {
  content: "\6a";
}
.icon-star:before {
  content: "\6b";
}
.icon-trash:before {
  content: "\6c";
}
.icon-user:before {
  content: "\6d";
}
.icon-volt:before {
  content: "\6e";
}
.icon-watch:before {
  content: "\6f";
}
.icon-check:before {
  content: "\70";
}
.icon-eye:before {
  content: "\71";
}
.icon-lock:before {
  content: "\72";
}
