.alert{
    border: 0 !important;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: -1px;
    z-index: 100;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0 !important;
    }

.head-un-log .alert{
    width: 100% !important;
    margin-left: 0;
    }

.alert .close{
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: none !important;
    opacity: 1;
    position: relative;
    top: -7px;
    padding: 0 10px !important;
    }

.alert-success{
    color: #FFFFFF;
    background-color: #009C3F;
    }

.alert-warning{
    color: #FFFFFF;
    background-color: #E6C218;
    }

.alert-danger{
    color: #FFFFFF;
    background-color: #D9534F;
    }
