html,
body{
    height: 100%;
    width: 100%;
    }

h2{
    font-size: 50px;
    text-align: center;
    margin: 50px;
    }

.site-login, .site-invite{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    }

.row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    }

.row-clear {
    width: 100%;
    display: inherit;
    flex-flow: inherit;
    justify-content: normal;
    margin: 0;
}

.col-lg-5{
    width: 100%;
    }

.wrap{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    }

.wrap > .container{
    padding: 70px 15px 20px;
    }

.footer{
    height: 60px;
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
    }

.jumbotron{
    text-align: center;
    background-color: transparent;
    }

.jumbotron .btn{
    font-size: 21px;
    padding: 14px 24px;
    }

.not-set{
    color: #CC5555;
    font-style: italic;
    }

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
    }

a.asc:after{
    content: /*"\e113"*/ "\e151";
    }

a.desc:after{
    content: /*"\e114"*/ "\e152";
    }

.sort-numerical a.asc:after{
    content: "\e153";
    }

.sort-numerical a.desc:after{
    content: "\e154";
    }

.sort-ordinal a.asc:after{
    content: "\e155";
    }

.sort-ordinal a.desc:after{
    content: "\e156";
    }

.grid-view td{
    white-space: nowrap;
    }

.grid-view .filters input,
.grid-view .filters select{
    min-width: 50px;
    }

.hint-block{
    display: block;
    margin-top: 5px;
    color: #999999;
    }

.error-summary{
    color: #A94442;
    background: #FDF7F7;
    border-left: 3px solid #EED3D7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    }

/* align the logout "link" (button in form) of the navbar */
.nav > li > form{
    padding: 8px;
    }

@media (max-width: 768px){
    .nav li > form{
        padding: 3px;
        }
    }

.nav > li > form > button:hover{
    text-decoration: none;
    }

.main-header{
    background-color: #65A43A;
    }

.navbar-inverse .navbar-brand{
    color: #FFFFFF;
    }

.navbar-inverse{
    border: none;
    }

.navbar-inverse .navbar-nav > li > a{
    color: #FFFFFF;
    }

.navbar-inverse .navbar-nav > .active > a{
    background-color: #203015;
    color: #FFFFFF;
    }

.btn{
    margin-top: 2px;
    margin-bottom: 2px;
    border: none;
    border-radius: 0px;
    max-width: 400px;
    min-width: 200px;
    }

.form-control{
    border-radius: 0px;
    }

.has-error .control-label, .has-error .help-block, .has-error .form-control{
    border-color: #DA0303;
    color: #DA0303;
    }

.help-block-error .help-block{
    color: #DA0303;
    }

.navbar-inverse .navbar-toggle{
    border: none;
    }

.navbar-inverse .btn-link{
    color: #FFFFFF;
    }

.site-center{
    text-align: center;
    }

.game-square{
    display: flex;
    display: -ms-flexbox;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 5px;
    background-color: #65A43A;
    height: 130px;
    width: 130px;
    text-align: center;
    padding: 5px;
    }

.game-square_text{
    color: #FFFFFF;
    overflow: hidden;
    height: 4.5em;
    }

.games-container{
    margin-bottom: 20px;
    margin-top: 50px;
    display: flex;
    display: -ms-flexbox;
    flex-flow: row wrap;
    justify-content: center;
    }

.game-status{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    }

.game-status_1{
    background-color: #86F816;
    box-shadow: 0px 0px 15px #86F816;
    animation: 0.7s ease-in-out 0s infinite alternate outline_pulse;
    }

@keyframes outline_pulse{
    from{
        box-shadow: 0px 0px 0px #86F816;
        }
    to{
        box-shadow: 0px 0px 15px #86F816;
        }
    }

.game-status_2{
    background-color: #ADFA61;
    }

.game-status_0{
    background-color: #CECECE;
    }

.game-status-text{
    margin-top: 7px;
    font-size: 11px;
    }

.game-status-text_future{
    color: #ADFA61;
    }

.game-status-text_current{
    color: #86F816;
    }

.game-status-text_ended{
    color: #CECECE;
    }

.select{
    width: 100%;
    max-width: 400px;
    height: 32px;
    }

.game-main-section{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    }

.game-details{
    width: 100%;
    max-width: 100%;
    padding: 10px;
    }

.game-buttons-section{
    max-width: 400px;
    padding: 10px;
    }

.center-button-section{
    text-align: center;
    padding: 5px;
    }

.game-buttons-section .btn{
    min-width: 200px;
    }

@media (max-width: 600px){
    .game-main-section{
        display: flex;
        flex-flow: column nowrap;
        }

    .game-buttons-section{
        max-width: none;
        }

    .game-buttons-section .btn{
        max-width: none;
        }
    }

@media (max-width: 400px){
    .row{
        width: 100%;
        }

    h2{
        font-size: 30px;
        }
    }

@media print{
    .noprint{
        display: none !important;
        }

    a:link:after, a:visited:after{
        display: none;
        content: "";
        }
    }

.game-description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

.text-wrap{
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
    }

.sidebar-mini.sidebar-collapse > .wrapper > .main-sidebar > .sidebar > .sidebar-add-btn > a{
    display: none !important;
    -webkit-transform: translateZ(0)
    }

.sidebar-mini.sidebar-collapse > .wrapper > .main-sidebar > .sidebar > .user-panel{
    display: none !important;
    -webkit-transform: translateZ(0)
    }
.user-panel >.profile{
    color: #FFFFFF;
    }


.sidebar-add-btn{
    margin: 11px;
    }

.sidebar-add-btn-text{
    font-size: 17px;
    color: #FFFFFF !important;
    height: 100% !important;
    width: 100% !important;
    }

.hide-options{
    display: none;
    }

.table-icon{
    margin: 0px 8px 0px 8px;
    }

.form-add-next{
    padding-top: 20px !important;
    }

.small-btn{
    width: 35px; !important;
    min-width: 20px; !important;
    max-width: 40px; !important;
    }

.dark-button {
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background: rgba(0,0,0,.7);
    padding: 7px 12px;
    display: inline-block;
    }

.registration-box-body{
    background: #FFFFFF;
    padding: 20px;
    border-top: 0;
    color: #666666
    }